@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --background-color: #84a178;
  --primary-text-color: #fcfcfc;
  --secondary-text-color: #131313;
  --accent-color: #f8d24e;
  --products-color-first: #aec6a5;
  --products-color-second: #efd478;
  --products-color-third: #d6936d;
  --footer-text-color: #7a7a7a;
  --border-solid-color: #e1e1e1;
  --button-hover-color: #0a8817;
  --black-color: #000000;
  --white-color: #ffffff;
  --button-disabled-color: #ababab;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/Inter/Inter-VariableFont.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Seymour_One/SeymourOne-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

button {
  cursor: pointer;
}

label {
  display: block;
  margin: 0;
}

input {
  display: block;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../images/body/bg-icecreem-480@1x.jpg);
  background-size: 885px 1242px;
  background-position: center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/body/bg-icecreem-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/body/bg-icecreem-768@1x.jpg);
    background-size: 963px 1017px;
  }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/body/bg-icecreem-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url(../images/body/bg-icecreem-1200@1x.jpg);
    background-size: 1300px 1350px;
  }
}
@media only screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (min-resolution: 192dpi), only screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/body/bg-icecreem-1200@2x.jpg);
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 16px;
  }
}

.page-header {
  padding-top: 12px;
  background-color: var(--background-color);
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 8px;
  }
}
.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__logo {
  width: 40px;
  height: 37px;
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    width: 48px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    width: 60px;
    height: 65px;
  }
}
.page-header__menu {
  display: none;
}

@media screen and (min-width: 1200px) {
  .page-header__menu {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .page-header__buttons {
    display: flex;
    gap: 32px;
  }
}
.mobile-menu__open-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  line-height: 0;
}

.mobile-menu__burger-icon {
  fill: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .mobile-menu__open-btn {
    display: none;
  }
}
.page-header__btn {
  background-color: transparent;
  padding: 0;
  border: none;
  line-height: 0;
  width: 152px;
  height: 42px;
  left: 0px;
  top: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 36px;
  background: var(--accent-color);
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--black-color);
}

.page-header__btn {
  display: none;
}

.page-header__btn-icon {
  width: 10px;
  height: 12px;
  fill: var(--black-color);
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  .page-header__btn {
    display: flex;
  }
}
.page-header__link {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--white-color);
}
.page-header__link:hover, .page-header__link:focus {
  color: var(--accent-color);
}

.page-header__item:not(:last-child) {
  margin-right: 28px;
}

.hero {
  background-color: #84a178;
}

@media screen and (max-width: 767px) {
  .hero-container {
    display: flex;
    width: 100%;
    background-image: url(/src/images/hero/bg-hero-320@1x.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    display: flex;
    width: 100%;
    background-image: url(/src/images/hero/bg-hero-768@1x.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    display: flex;
    width: 100%;
    background-image: url(/src/images/hero/bg-hero-1200@1x.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(/src/images/hero/bg-hero-1200@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .hero-left-block {
    width: 50%;
  }
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 247px;
    color: #fcfcfc;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2631578947;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 367px;
    color: #fcfcfc;
  }
}
@media screen and (max-width: 767px) {
  .hero-buttons {
    display: block;
    margin-top: 32px;
  }
  .hero_logo-button {
    padding: 11px 20px;
    border: solid 2px #f8d24e;
    border-radius: 10px;
    background-color: transparent;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #131313;
  }
  .hero_logo-button:hover, .hero_logo-button:focus {
    border: solid 2px transparent;
  }
}
@media screen and (min-width: 768px) {
  .hero-buttons {
    display: block;
    margin-top: 24px;
  }
  .hero_logo-button {
    padding: 11px 26px;
    border: solid 2px #f8d24e;
    border-radius: 10px;
    background-color: transparent;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #131313;
  }
  .hero_logo-button:hover, .hero_logo-button:focus {
    border: solid 2px transparent;
  }
}
@media screen and (min-width: 1200px) {
  .hero-buttons {
    display: block;
    margin-top: 28px;
  }
  .hero_logo-button {
    padding: 12px 34px;
    border: solid 2px #f8d24e;
    border-radius: 10px;
    background-color: transparent;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2857142857;
    color: #131313;
  }
  .hero_logo-button:hover, .hero_logo-button:focus {
    border: solid 2px transparent;
  }
}
@media screen and (max-width: 767px) {
  .hero__content-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero__content-list {
    display: flex;
    margin-top: 12px;
    align-items: center;
  }
  .hero__content-list_item:first-child {
    display: block;
    width: 100%;
  }
  .hero__content-list_item:last-child {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__content-list {
    display: flex;
    margin-top: 42px;
    align-items: center;
  }
  .hero__content-list_item:first-child {
    display: block;
    width: 100%;
  }
  .hero__content-list_item:last-child {
    margin-left: 16px;
  }
}
@media screen and (min-width: 768px) {
  .hero__content-list_item:first-child {
    display: block;
    width: 100%;
  }
  .hero__content-list_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__title {
    margin-top: 12px;
  }
}
@media screen and (max-width: 767px) {
  .hero__content-list_image {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__content-list_image {
    width: 255px;
    height: 255px;
  }
}
.hero__content-list_text {
  display: block;
  margin-bottom: 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fcfcfc;
}

.hero__content-list_text-icon {
  fill: #fcfcfc;
}

.hero-right-block {
  display: flex;
  width: 50%;
}

.hero-right-block__list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .hero-right-block__list-item:last-child {
    display: none;
  }
  .hero-right-block {
    justify-content: center;
    width: 100%;
  }
  .hero__logo-list_item:first-child {
    margin-top: 46px;
  }
  .hero-container {
    display: grid;
  }
}
.venue__list-item_qty {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 1.2173913043;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.venue__list-item_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: var(--primary-text-color);
}

.products__container {
  margin: 0 auto;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 320px) {
  .products__container {
    background-image: url(../images/body/bg-icecreem-480@1x.jpg);
    max-width: 767px;
  }
}
@media screen and (min-width: 768px) {
  .products__container {
    background-image: url(../images/body/bg-icecreem-768@1x.jpg);
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .products__container {
    background-image: url(../images/body/bg-icecreem-1200@1x.jpg);
    min-width: 1200px;
  }
}
.products__section-name {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 60px;
}

@media screen and (min-width: 320px) {
  .products__section-name {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .products__section-name {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .products__section-name {
    padding-top: 77px;
    padding-bottom: 100px;
  }
}
.products__label {
  font-weight: 800;
  line-height: 1.22;
}

@media screen and (min-width: 320px) {
  .products__label {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .products__label {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products__label {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}
.products__heading {
  font-family: "Seymour One";
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.23;
}

@media screen and (min-width: 320px) {
  .products__heading {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .products__heading {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .products__heading {
    font-size: 36px;
  }
}
.products__circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 5.26px 19.73px 0px rgba(153, 114, 23, 0.25);
}

@media screen and (min-width: 1200px) {
  .products__circle {
    width: 302px;
    height: 302px;
    border-radius: 50%;
  }
}
.products__picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 0px;
}

@media screen and (min-width: 1200px) {
  .products__picture {
    width: 302px;
    height: 302px;
    border-radius: 50%;
    top: -10px;
    left: 0px;
  }
}
.products__list {
  display: flex;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .products__list {
    flex-direction: column;
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .products__list {
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    gap: 29px;
  }
}
.products__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 320px) {
  .products__card {
    max-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .products__card {
    max-width: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .products__card {
    max-width: 370px;
  }
}
.products__background--first {
  background-image: linear-gradient(var(--products-color-first), var(--products-color-first));
}

.products__background--second {
  background-image: linear-gradient(var(--products-color-second), var(--products-color-second));
}

.products__background--third {
  background-image: linear-gradient(var(--products-color-third), var(--products-color-third));
}

.products__img {
  position: relative;
  top: 20px;
  z-index: 10;
}

@media screen and (min-width: 1200px) {
  .products__img {
    width: 302px;
  }
}
.products__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 24px;
  margin-top: -80px;
  width: 280px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .products__info {
    padding-top: 16px;
    border-radius: 16px;
    width: 224px;
    margin-top: -100px;
  }
}
@media screen and (min-width: 1200px) {
  .products__info {
    border-radius: 24px;
    width: 370px;
    margin-top: -120px;
  }
}
.product__title {
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 1.22;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) {
  .products__title {
    font-size: 20px;
    margin-top: 123px;
  }
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 22px;
    margin-top: 115px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 30px;
    margin-top: 165px;
  }
}
.products__description {
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.76;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media screen and (min-width: 320px) {
  .products__description {
    max-width: 200px;
    min-height: 148px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .products__description {
    max-width: 172px;
    min-height: 175px;
    margin-top: 18x;
  }
}
@media screen and (min-width: 1200px) {
  .products__description {
    max-width: 242px;
    min-height: 142px;
    font-size: 16px;
    margin-top: 36px;
  }
}
.products__button {
  margin: 0 auto;
  padding-top: 10px;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 320px) {
  .products__button {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .products__button {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .products__button {
    margin-bottom: 60px;
  }
}
.about {
  background-color: #84a178;
  padding-top: 60px;
  padding-bottom: 32px;
}
@media screen and (min-device-width: 768px) {
  .about {
    padding-bottom: 60px;
  }
}
@media screen and (min-device-width: 1200px) {
  .about {
    padding-bottom: 80px;
  }
}

.about__label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 12px;
}
@media screen and (min-device-width: 768px) {
  .about__label {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2272727273;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-device-width: 1200px) {
  .about__label {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.about__titel {
  max-width: 200px;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666666667;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-device-width: 768px) {
  .about__titel {
    max-width: 554px;
    font-size: 34px;
    line-height: 1.2647058824;
    letter-spacing: 0.06em;
    margin-bottom: 72px;
  }
}
@media screen and (min-device-width: 1200px) {
  .about__titel {
    margin-bottom: 82px;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
}

.about__box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-device-width: 768px) {
  .about__box {
    flex-direction: row;
    gap: 38px;
    align-items: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-device-width: 1200px) {
  .about__box {
    flex-direction: row;
    gap: 109px;
    align-items: center;
    margin-bottom: 60px;
  }
}

.about__image {
  display: flex;
  flex-direction: column;
  margin-bottom: 62px;
  position: relative;
  border-radius: 140px;
}

.about__circel {
  width: 279px;
  height: 279px;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;
}
@media screen and (min-device-width: 768px) {
  .about__circel {
    width: 330px;
    height: 330px;
    box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
    border-radius: 165px;
  }
}
@media screen and (min-device-width: 1200px) {
  .about__circel {
    width: 490px;
    height: 490px;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    border-radius: 250px;
  }
}

.about__picture {
  width: 279px;
  height: 279px;
  border-radius: 140px;
  position: absolute;
  top: 22px;
}
@media screen and (min-device-width: 768px) {
  .about__picture {
    width: 330px;
    height: 330px;
    border-radius: 165px;
    top: 26px;
  }
}
@media screen and (min-device-width: 1200px) {
  .about__picture {
    width: 490px;
    height: 490px;
    border-radius: 250px;
    top: 39px;
  }
}

.about__right-part {
  display: flex;
  flex-direction: column;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-device-width: 768px) {
  .about__text {
    gap: 8px;
    width: 334px;
  }
}
@media screen and (min-device-width: 1200px) {
  .about__text {
    width: 463px;
  }
}

.about__text-one {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
}
@media screen and (min-device-width: 768px) {
  .about__text-one {
    text-align: left;
  }
}
@media screen and (min-device-width: 1200px) {
  .about__text-one {
    font-size: 16px;
  }
}

.about__text-two {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
}
@media screen and (min-device-width: 768px) {
  .about__text-two {
    line-height: 176%;
    text-align: left;
  }
}
@media screen and (min-device-width: 1200px) {
  .about__text-two {
    font-size: 14px;
    line-height: 194%;
    /* or 27px */
  }
}

.about__text-three {
  display: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 194%;
  /* or 23px */
  letter-spacing: 0.04em;
  color: #fcfcfc;
}
@media screen and (min-device-width: 768px) {
  .about__text-three {
    display: block;
  }
}
@media screen and (min-device-width: 1200px) {
  .about__text-three {
    font-size: 14px;
    line-height: 194%;
    /* or 27px */
  }
}

.about__btn {
  width: 164px;
  height: 42px;
  padding: 12px 32px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  text-align: center;
  color: #000000;
  margin: 10px auto 50px auto;
  background: #f8d24e;
  border-radius: 10px;
  border-color: transparent;
}
.about__btn:hover {
  background: #0a8817;
}
.about__btn:focus {
  background: #0a8817;
  color: #fcfcfc;
}
.about__btn:focus:focus .about__icon-btn {
  fill: #fcfcfc;
}
.about__btn:focus:disabled {
  background: #ababab;
}
@media screen and (min-device-width: 768px) {
  .about__btn {
    margin-top: 32px;
    margin-left: 0px;
  }
}
@media screen and (min-device-width: 1200px) {
  .about__btn {
    margin-top: 54px;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media screen and (min-device-width: 768px) {
  .about__list {
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }
}
@media screen and (min-device-width: 1200px) {
  .about__list {
    flex-direction: row;
    gap: 80px;
    align-items: center;
  }
}

.about__icon-box {
  width: 50px;
  height: 50px;
  background-color: #f8d24e;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 16px auto;
}
@media screen and (min-device-width: 768px) {
  .about__icon-box {
    margin-bottom: 32px;
  }
}
@media screen and (min-device-width: 1200px) {
  .about__icon-box {
    margin-bottom: 40px;
  }
}

.about__icon {
  width: 36px;
  height: 36px;
}

.about__properties {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2222222222;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 16px;
}
@media screen and (min-device-width: 768px) {
  .about__properties {
    font-size: 48px;
    line-height: 1.2291666667;
    margin-bottom: 12px;
  }
}
@media screen and (min-device-width: 1200px) {
  .about__properties {
    font-size: 58px;
    line-height: 1.224137931;
  }
}

.about__description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  /* or 20px */
  text-align: center;
  color: #fcfcfc;
}
@media screen and (min-device-width: 768px) {
  .about__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;
  }
}
@media screen and (min-device-width: 1200px) {
  .about__description {
    font-size: 16px;
    line-height: 176%;
    /* or 28px */
    letter-spacing: 0.02em;
  }
}

.gallery {
  position: relative;
}

.gallery__overlay {
  position: absolute;
  background-color: var(--background-color);
  height: 32px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__overlay {
    height: 144px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__overlay {
    height: 98px;
  }
}

.gallery__swiper {
  max-width: 280px;
  max-height: 130px;
  margin-bottom: 80px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .gallery__swiper {
    max-width: 704px;
    max-height: 327px;
    margin-bottom: 100px;
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__swiper {
    max-width: 1013px;
    max-height: 422px;
    margin-bottom: 140px;
    border-radius: 24px;
  }
}

.gallery__img {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .gallery__img {
    height: 130px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__img {
    height: 327px;
  }
}

.reviews {
  font-family: "Montserrat";
}

.review__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__img {
  margin-bottom: 32px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.review__text {
  margin-bottom: 32px;
  padding: 35px 40px;
  background-color: var(--background-color);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: var(--primary-text-color);
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .review__text {
    max-width: 705px;
    padding: 28px 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    border-radius: 24px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .review__text {
    max-width: 968px;
    padding: 42px 73px;
    font-size: 16px;
  }
}

.review__author {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .review__author {
    margin-bottom: 32px;
  }
}

.review__pagination {
  position: unset;
  margin-bottom: 40px;
}

.contacts {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.contacts-card {
  padding: 40px 0px 24px 32px;
  width: 280px;
  height: 412px;
  border-radius: 24px;
  background: var(--primary-text-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts-card__category {
  width: 80px;
  height: 22px;
  padding: 4px 22px 4px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
  background: var(--accent-color);
}

.contacts-card__category:nth-child(2) {
  width: 130px;
}

.contacts-card__city {
  margin-top: 20px;
  margin-bottom: 8px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  align-items: left;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
}

.contacts-card__address-first {
  width: 190px;
  height: 40px;
  font-family: "Montserrat";
  font-style: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: var(--products-color-third);
}

.contacts-card__address-second {
  width: 212px;
  height: 40px;
  font-family: "Montserrat";
  font-style: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: var(--products-color-third);
}

.contacts-card__address-third {
  width: 190px;
  height: 40px;
  font-family: "Montserrat";
  font-style: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  letter-spacing: 0.04em;
  color: var(--products-color-third);
}

.contacts-card__working {
  margin-top: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  width: 216px;
  border-top: 1px solid var(--border-solid-color);
  border-bottom: 1px solid var(--border-solid-color);
}

.contacts-card__working-days {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  color: var(--secondary-text-color);
}

.contacts-card__working-hours {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  color: #ababab;
}

.contacts-card__working-hours:not(:last-child) {
  margin-bottom: 12px;
}

.contacts-card__contacts-container {
  display: flex;
  flex-direction: column;
}
.contacts-card__contacts-container:not(:last-child) {
  margin-bottom: 6px;
}

.contacts-card__phone {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5833333333;
  color: var(--secondary-text-color);
}

.contacts-card__mail {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5833333333;
  color: var(--secondary-text-color);
}

.contacts__button {
  display: block;
  margin: 20px auto 16px;
  width: 196px;
  height: 42px;
  background-color: var(--background-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  background-color: transparent;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__button:hover, .contacts__button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.contacts__franchise-button {
  display: block;
  margin: 0 auto;
  width: 196px;
  height: 42px;
  background-color: var(--background-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  background-color: transparent;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__franchise-button:hover, .contacts__franchise-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}
.contacts__franchise-button:disabled {
  border: 2px solid var(--button-disabled-color);
  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contacts-card {
    padding: 40px 0px 40px 24px;
    width: 224px;
    height: 537px;
    border-radius: 24px;
    background: var(--primary-text-color);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
  }
  .contacts-card__category {
    width: 73px;
    height: 30px;
  }
  .contacts-card__category:nth-child(2) {
    width: 138px;
  }
  .contacts-card__city {
    margin-top: 32px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.8571428571;
  }
  .contacts-card__address-first {
    width: 173px;
    height: 71px;
    font-size: 14px;
    line-height: 1.8571428571;
  }
  .contacts-card__address-second {
    width: 158px;
    height: 71px;
    font-size: 14px;
    line-height: 1.8571428571;
  }
  .contacts-card__address-third {
    width: 159px;
    height: 71px;
    font-size: 14px;
    line-height: 1.8571428571;
  }
  .contacts-card__working {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;
    margin-top: 32px;
    width: 176px;
  }
  .contacts-card__working-days {
    font-size: 14px;
    line-height: 1.8571428571;
  }
  .contacts-card__working-hours {
    font-size: 14px;
    line-height: 1.8571428571;
  }
  .contacts-card__working-hours:not(:last-child) {
    margin-bottom: 8px;
  }
  .contacts-card__phone {
    font-size: 14px;
    line-height: 1.5;
  }
  .contacts-card__mail {
    font-size: 14px;
    line-height: 1.5;
  }
  .button-container {
    max-width: 408px;
    max-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts__franchise-button {
    margin-top: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .contacts__list {
    gap: 32px;
  }
  .contacts-card {
    padding: 40px 0px 40px 40px;
    width: 368px;
    height: 542px;
  }
  .contacts-card__category {
    width: 76px;
  }
  .contacts-card__category:nth-child(2) {
    width: 148px;
  }
  .contacts-card__city {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.875;
  }
  .contacts-card__address-first {
    width: 262px;
    height: 50px;
    font-size: 16px;
    line-height: 1.8125;
  }
  .contacts-card__address-second {
    width: 288px;
    height: 50px;
    font-size: 16px;
    line-height: 1.8125;
  }
  .contacts-card__address-third {
    width: 261px;
    height: 50px;
    font-size: 16px;
    line-height: 1.8125;
  }
  .contacts-card__working {
    width: 288px;
  }
  .contacts-card__working-days {
    font-size: 16px;
    line-height: 1.875;
  }
  .contacts-card__working-hours {
    font-size: 16px;
    line-height: 1.875;
  }
  .contacts-card__working-hours:not(:last-child) {
    margin-bottom: 12px;
  }
  .contacts-card__contacts-container:not(:last-child) {
    margin-bottom: 4px;
  }
  .contacts-card__phone {
    font-size: 16px;
    line-height: 1.5;
  }
  .contacts-card__mail {
    font-size: 16px;
    line-height: 1.5;
  }
  .button-container {
    margin-top: 60px;
  }
}
.footer {
  background-color: var(--background-color);
}

.footer-slogan__one {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  max-width: 232px;
  color: var(--primary-text-color);
}

.footer-slogan__two {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  max-width: 200px;
  margin-top: 16px;
  margin-bottom: 60px;
  color: var(--primary-text-color);
}

.footer-contact {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: var(--secondary-text-color);
  margin-bottom: 40px;
}

.footer-contact__tel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: var(--primary-text-color);
}

.footer-copyright {
  border-top: 1px solid var(--border-solid-color);
}

.footer-copyright__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: var(--footer-text-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.socials {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.socials-icon {
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.socials-icon:hover .socials-icon__link, .socials-icon:focus .socials-icon__link {
  fill: var(--primary-text-color);
}

.socials-icon__link {
  fill: var(--background-color);
}

@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
  .footer-slogan__one {
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.04em;
    max-width: 352px;
  }
  .footer-slogan__two {
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.06em;
    max-width: 352px;
    margin-top: 8px;
    margin-bottom: 32px;
  }
  .footer-contact {
    font-size: 14px;
    margin-bottom: 40px;
    color: var(--secondary-text-color);
  }
  .footer-contact__tel {
    font-size: 14px;
    color: var(--primary-text-color);
  }
  .footer-row {
    display: flex;
  }
  .footer-column__contacts, .footer-column__slogan {
    flex: 50%;
  }
  .footer-column__contacts {
    padding-top: 61px;
  }
  .socials {
    margin-bottom: 34px;
  }
  .footer-copyright__text {
    line-height: 186%;
    letter-spacing: 0.02em;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .footer-copyright__text br {
    display: none;
  }
}
@media screen and (min-device-width: 1200px), screen and (min-width: 1200px) {
  .footer-slogan__one {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    max-width: 504px;
  }
  .footer-slogan__two {
    font-size: 58px;
    line-height: 70px;
    max-width: 504px;
    margin-top: 14px;
    margin-bottom: 60px;
  }
  .footer-contact {
    font-size: 14px;
    margin-bottom: 60px;
    color: var(--secondary-text-color);
  }
  .footer-contact__tel {
    font-size: 16px;
    color: var(--primary-text-color);
  }
  .footer-row {
    display: flex;
  }
  .footer-column__contacts, .footer-column__slogan {
    flex: 50%;
  }
  .footer-column__contacts {
    padding-top: 18px;
  }
  .socials {
    margin-bottom: 34px;
  }
  .footer-copyright__text {
    font-size: 12px;
  }
}
.button-products--mobile {
  border-radius: 8px;
  border: 2px solid var(--accent-color);
  min-width: 108px;
  height: 38px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  background-color: transparent;
}
.button-products--mobile:hover {
  border: 2px solid var(--button-hover-color);
}

.button-products--desktop {
  border-radius: 10px;
  border: 2px solid var(--accent-color);
  min-width: 134px;
  height: 42px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  background-color: transparent;
}
.button-products--desktop:hover {
  border: 2px solid var(--button-hover-color);
}
.button-products--desktop:focus {
  border: 2px solid var(--button-hover-color);
  color: var(--primary-text-color);
}
.button-products--desktop:disabled {
  border: 2px solid var(--button-disabled-color);
  color: var(--black-color);
}

.button-read-more {
  min-width: 164px;
  height: 42px;
  background: var(--accent-color);
  border-radius: 10px;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
}
.button-read-more:hover {
  background: var(--button-hover-color);
}
.button-read-more:focus {
  background: var(--button-hover-color);
  color: var(--primary-text-color);
}
.button-read-more:disabled {
  background: var(--button-disabled-color);
  color: var(--black-color);
}

.button-our-locations {
  min-width: 196px;
  height: 42px;
  background: var(--accent-color);
  border-radius: 10px;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  color: var(--secondary-text-color);
}
.button-our-locations:hover {
  background: var(--button-hover-color);
}
.button-our-locations:focus {
  background: var(--button-hover-color);
  color: var(--primary-text-color);
}
.button-our-locations:disabled {
  background: var(--button-disabled-color);
  color: var(--black-color);
}

.button-buy-now {
  min-width: 152px;
  height: 42px;
  background: var(--accent-color);
  border-radius: 10px;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2142857143;
}
.button-buy-now:hover {
  background: var(--button-hover-color);
}
.button-buy-now:focus {
  background: var(--button-hover-color);
  color: var(--white-color);
}
.button-buy-now:disabled {
  background: var(--button-disabled-color);
  color: var(--black-color);
}

.modal__text-franchise {
  margin-top: 20px;
  margin-bottom: 24px;
}

.contacts-form {
  width: 224px;
  height: 332px;
  margin-left: auto;
  margin-right: auto;
}

.contacts-form__input {
  margin-top: 12px;
}

.contacts-form__data {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: var(--secondary-text-color);
  padding-left: 12px;
  width: 224px;
  height: 32px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
}

.contacts-form__comment {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: var(--secondary-text-color);
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 39px;
  width: 224px;
  height: 64px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
}

.button-buy-now {
  margin-top: 24px;
  margin-bottom: 28px;
  display: inline-block;
  min-width: 114px;
  height: 42px;
  background: var(--accent-color);
  border-radius: 10px;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.4166666667;
}
.button-buy-now:hover {
  background: var(--button-hover-color);
}
.button-buy-now:focus {
  background: var(--button-hover-color);
  color: var(--white-color);
}
.button-buy-now:disabled {
  background: var(--button-disabled-color);
  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .modal__text-franchise {
    margin-top: 24px;
    margin-bottom: 32px;
  }
  .contacts-form {
    width: 368px;
    height: 332px;
  }
  .contacts-form__input {
    margin-top: 16px;
  }
  .contacts-form__data {
    font-size: 14px;
    padding-left: 16px;
    width: 368px;
    height: 42px;
  }
  .contacts-form__comment {
    font-size: 14px;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 53px;
    width: 368px;
    height: 84px;
  }
  .button-buy-now {
    margin-top: 32px;
    margin-bottom: 32px;
    min-width: 152px;
    font-size: 14px;
    line-height: 1.2142857143;
  }
}
/* Стили для подложки */
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(132, 161, 120, 0.5);
  z-index: 950;
  transition: 0.3s all;
}

/* Стили для модальных окон */
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 280px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  text-align: center;
  padding: 28px;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--primary-text-color);
  transition: 0.3s all;
}

.modal__title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-text-color);
}

.modal__map {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 224px;
  height: 199px;
}

.modal__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--secondary-text-color);
  text-align: left;
}

/* Стили для активных классов подложки и окна */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */
.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: var(--secondary-text-color);
  cursor: pointer;
}
.modal__cross:hover, .modal__crossfocus {
  fill: var(--background-color);
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */
.js-open-modal a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #414b52;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
}

.modal a {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #414b52;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 568px;
    padding: 32px 60px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    background-color: var(--primary-text-color);
    transition: 0.3s all;
  }
  .modal__title {
    font-size: 20px;
    line-height: 28px;
  }
  .modal__text {
    font-size: 16px;
    line-height: 22px;
  }
  .modal__map {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 444px;
    height: 260px;
  }
}
/* Стили для подложки */
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(132, 161, 120, 0.5);
  z-index: 950;
  transition: 0.3s all;
}

/* Стили для модальных окон */
.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 280px;
  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  text-align: center;
  padding: 28px;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--primary-text-color);
  transition: 0.3s all;
}

.modal__title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary-text-color);
}

.modal__video {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 224px;
  height: 199px;
}

.modal__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--secondary-text-color);
  text-align: left;
}

/* Стили для активных классов подложки и окна */
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */
.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: var(--secondary-text-color);
  cursor: pointer;
}
.modal__cross:hover, .modal__crossfocus {
  fill: var(--background-color);
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */
a.js-open-modal {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: #414b52;
  margin: 10px;
  color: #fff;
  border-radius: 3px;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 568px;
    padding: 32px 60px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    background-color: var(--primary-text-color);
    transition: 0.3s all;
  }
  .modal__title {
    font-size: 20px;
    line-height: 28px;
  }
  .modal__text {
    font-size: 16px;
    line-height: 22px;
  }
  .modal__video {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 444px;
    height: 205px;
  }
}
/*fitvids responsive video from youtube (Fluid Width YouTube with Vanilla FitVids) */
.fitVids-wrapper iframe {
  width: 100%;
}

.mob-menu {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 15;
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu__container {
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
}

.mob-menu__close-btn {
  position: absolute;
  top: 16px;
  right: 20px;
  background-color: transparent;
  padding: 0;
  border: none;
  line-height: 0;
}

.mob-menu__close-icon {
  fill: var(--white-color);
}

.mob-menu__list {
  margin-top: 48px;
  margin-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mob-menu__link {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fcfcfc;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__buy-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  line-height: 0;
  width: 152px;
  height: 42px;
  left: 0px;
  top: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 36px;
  background: var(--accent-color);
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--black-color);
}/*# sourceMappingURL=index.css.map */