:root {
    --background-color: #84a178;
    --primary-text-color: #fcfcfc;
    --secondary-text-color: #131313;
    --accent-color: #f8d24e;
    --products-color-first: #aec6a5;
    --products-color-second: #efd478;
    --products-color-third: #d6936d;
    --footer-text-color: #7a7a7a;
    --border-solid-color: #E1E1E1;
  }
  