:root {
  --background-color: #84a178;
  --primary-text-color: #fcfcfc;
  --secondary-text-color: #131313;
  --accent-color: #f8d24e;
  --products-color-first: #aec6a5;
  --products-color-second: #efd478;
  --products-color-third: #d6936d;
  --footer-text-color: #7a7a7a;
  --border-solid-color: #e1e1e1;
  --button-hover-color: #0a8817;
  --black-color: #000000;
  --white-color: #ffffff;
  --button-disabled-color: #ababab;
}
