<div class="mob-menu" data-menu>
  <div class="container mob-menu__container">
    <a href="#" class="logo mob-menu__logo">
      <svg class="page-header__logo" height="40" width="37">
        <use href="./images/icons.svg#icon-page-logo"></use>
      </svg>
    </a>
    <button type="button" class="mob-menu__close-btn" data-menu-close>
      <svg class="mob-menu__close-icon" height="32" width="32">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mob-menu__list">
      <li class="mob-menu__item">
        <a class="mob-menu__link" href="#" link-menu-close>Home</a>
      </li>
      <li class="mob-menu__item">
        <a class="mob-menu__link" href="#howitsmade" link2-menu-close
          >How it’s made?</a
        >
      </li>
      <li class="mob-menu__item">
        <a class="mob-menu__link" href="#products" link3-menu-close
          >Our products</a
        >
      </li>
      <li class="mob-menu__item">
        <a class="mob-menu__link" href="#contact" link4-menu-close>Contact</a>
      </li>
    </ul>
    <div class="mobile-menu__buy-container">
      <button type="button" class="mob-menu__buy-btn js-open-modal" link5-menu-close data-modal="5">
        Buy now<svg class="page-header__btn-icon">
          <use href="./images/icons.svg#icon-Vector"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
