<div class="modal" data-modal="5">
  <!--   Svg иконка для закрытия окна  -->
  <button type="button" class="mob-menu__close-btn" data-menu-close>
    <svg
      class="mob-menu__close-icon--black js-modal-close"
      height="20"
      width="20"
    >
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <h2 class="modal__title">Buy now</h2>

  <div class="name-product__list">
    <div class="ice-cream-menu">
      <div class="modal-product-overlapping">
        <img
          class="modal-product__ice"
          src="/src/images/modals/chocolate-icecream132@1x.png"
          srcset="/src/images/modals/chocolate-icecream132@2x.png"
          alt="brown icecream in a hand"
        />

        <div class="modal-product__bg"></div>
      </div>
      <div class="name-product">
        <p class="name-product__text">ice cream</p>
      </div>
    </div>

    <div class="ice-coffee-menu">
      <div class="modal-product-overlapping">
        <img
          class="modal-product__ice"
          src="/src/images/modals/ice-coffe132@1x.png"
          srcset="/src/images/modals/ice-coffe132@2x.png"
          alt="just made ice coffee on a wooden table"
        />
        <div class="modal-product__coffe"></div>
      </div>
      <div class="name-product-icecoffee">
        <p class="name-product__text">ice coffee</p>
      </div>
    </div>

    <div class="milkshake-menu">
      <div class="modal-product-overlapping">
        <img
          class="modal-product__ice"
          src="/src/images/modals/milkshake132@1x.png"
          srcset="/src/images/modals/milkshake132@2x.png"
          alt="milkshake with biscuit on top"
        />
        <div class="modal-product__milkshake"></div>
      </div>
      <div class="name-product-milkshake">
        <p class="name-product__text">milkshake</p>
      </div>
    </div>
  </div>
  <form class="contact-form-products" name="contact-form">
    <div class="contact-form__list">
      <label for="name3">
        <span class="form-label__input"></span>
        <span class="contact-form__box">
          <input
            class="form-input__item"
            required
            minlength="2"
            type="text"
            name="name"
            id="name3"
            placeholder="Name"
          />
        </span> </label
      ><label for="phone3">
        <span class="form-label__input"> </span>
        <span class="contact-form__box">
          <input
            class="form-input__item"
            type="tel"
            required
            name="phone"
            id="phone3"
            pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"
            title="8 000 000 0 000"
            placeholder="Phone"
        /></span> </label
      ><label for="Comment3">
        <span class="form-label__input"> </span>
        <span class="contact-form__box">
          <textarea
            class="form-input__item-comment"
            type="text"
            required
            name="Comment"
            id="Comment3"
            placeholder="Comment"
          ></textarea>
        </span>
      </label>
    </div>
    <button class="modal__batton" type="submit">Submit</button>
  </form>
</div>
<!-- Подложка под модальным окном -->
<div class="overlay js-overlay-modal"></div>
