<section id="howitsmade" class="about">
    <div class="container">
        <p class="about__label"> tradition and love</p>
        <h2 class="about__titel">
            how it’s made?
        </h2>
        <div class="about__box">
        <div class="about__image">
         <div class="about__circel"></div>
         <img class="about__picture"
              src="./images/about/cow-480@1x.jpg"
              alt="cow"
              srcset="./images/about/cow-480@1x.jpg 279w, ./images/about/cow-480@2x.jpg 558w,
              ./images/about/cow-768@1x.jpg 330w, ./images/about/cow-768@2x.jpg 660w,
              ./images/about/cow-1200@1x.jpg 490w, ./images/about/cow-480@2x.jpg 980w"
              sizes="(min-width: 1200px) 490px, (min-width: 768px) 330px, (min-width: 480px) 279px"
            />
        </div>
        <div class="about__right-part">
        <div class="about__text">
          <p class="about__text-one">Ice is a place where you will become not only a little happier, but also healthier. 
            Health is the main value for us, and we follow it when creating our handmade desserts.</p>
          <p class="about__text-two">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
          <p class="about__text-three">This is enough to choose ice cream and coffee for any mood!</p>
        </div>
        <button class="about__btn">
            Read more
            <svg class="about__icon-btn" height="12" width="12">
                <use href="./images/icons.svg#icon-Vector"></use>
            </svg>
        </button>
    </div>
    </div>
        <ul class="about__list">
            <li class="about__item">
                <div class="about__icon-box">
                <svg class="about__icon" >
                    <use href="./images/icons.svg#icon-cow"></use>
                </svg>
                </div>
                <p class="about__properties">721</p>
                <p class="about__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="about__item">
                <div class="about__icon-box">
                <svg class="about__icon" >
                    <use href="./images/icons.svg#icon-weight"></use>
                </svg>
                </div>
                <p class="about__properties">16kg</p>
                <p class="about__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="about__item">
                <div class="about__icon-box">
                <svg class="about__icon" >
                    <use href="./images/icons.svg#icon-ice-crema"></use>
                </svg>
                </div>
                <p class="about__properties">84</p>
                <p class="about__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>

    </div>

</section>