<section id="contact" class="contacts">
  <div class="container">
    <h1 class="visually-hidden">Contacts</h1>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts-card">
          <span class="contacts-card__category"> CAFE </span>
          <h2 class="contacts-card__city">Chicago</h2>
          <address class="contacts-card__address-first">
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </address>
          <div class="contacts-card__working">
            <span class="contacts-card__working-days">Monday - Friday</span>
            <span class="contacts-card__working-hours"
              >06:00 AM - 10:00 PM</span
            >
            <span class="contacts-card__working-days">Saturday - Sunday</span>
            <span class="contacts-card__working-hours"
              >08:00 AM - 16:00 PM</span
            >
          </div>
          <div class="contacts-card__contacts-container">
            <a class="contacts-card__phone" href="tel:+61(0)83766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts-card__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </div>
      </li>
      <li class="contacts__item">
        <div class="contacts-card">
          <span class="contacts-card__category"> FOODTRUCK </span>
          
            <h2 class="contacts-card__city">Los Angeles</h2>
            <address class="contacts-card__address-second">
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
            </address>
          </div>
          <div class="contacts-card__working">
            <span class="contacts-card__working-days">Monday - Friday</span>
            <span class="contacts-card__working-hours"
              >06:00 AM - 10:00 PM</span
            >
            <span class="contacts-card__working-days">Saturday - Sunday</span>
            <span class="contacts-card__working-hours"
              >08:00 AM - 16:00 PM</span
            >
          </div>
          <div class="contacts-card__contacts-container">
            <a class="contacts-card__phone" href="tel:+61(0)83766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts-card__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </div>
      </li>
      <li class="contacts__item">
        <div class="contacts-card">
          <span class="contacts-card__category"> CAFE </span>
          
            <h2 class="contacts-card__city">New York</h2>
            <address class="contacts-card__address-third">
              726 Sterling Pl, Brooklyn, NY 11222, USA
            </address>
          </div>
          <div class="contacts-card__working">
            <span class="contacts-card__working-days">Monday - Friday</span>
            <span class="contacts-card__working-hours"
              >06:00 AM - 10:00 PM</span
            >
            <span class="contacts-card__working-days">Saturday - Sunday</span>
            <span class="contacts-card__working-hours"
              >08:00 AM - 16:00 PM</span
            >
          </div>
          <div class="contacts-card__contacts-container">
            <a class="contacts-card__phone" href="tel:+61(0)83766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts-card__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </div>
      </li>
    </ul>
  </div>
  <div class="button-container">
    <button data-modal="2" class="contacts__button js-open-modal" type="button">
      Our Locations
    </button>
    <button
      data-modal="3"
      class="contacts__franchise-button js-open-modal"
      type="button"
    >
      Franchise
    </button>
  </div>
  <div class="contacts__overlay"></div>
</section>
