<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden"></h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts-card">
          <span class="contacts-card__category"> CAFE </span>
          <div class="contacts-card__container">
            <h4 class="contacts-card__city">Chicago</h4>
            <address class="contacts-card__address">
              10340 Ridgeland Ave,
              <span>Chicago Ridge, IL 60415, USA</span>
            </address>
          </div>
          <div class="contacts-card__working">
            <span class="contacts-card__working-days">Monday - Friday</span>
            <span class="contacts-card__working-hours"
              >06:00 AM - 10:00 PM</span
            >
            <span class="contacts-card__working-days">Saturday - Sunday</span>
            <span class="contacts-card__working-hours"
              >08:00 AM - 16:00 PM</span
            >
          </div>
          <a href="#" class="contacts-card__phone">+61(0) 383 766 284</a>
          <a href="#" class="contacts-card__mail">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts-card">
          <span class="contacts-card__category"> FOODTRUCK </span>
          <div class="contacts-card__container">
            <h4 class="contacts-card__city">Los Angeles</h4>
            <address class="contacts-card__address">
              1003 Manhattan Ave, Manhattan,
              <span> CA 90263, USA </span>
            </address>
          </div>
          <div class="contacts-card__working">
            <span class="contacts-card__working-days">Monday - Friday</span>
            <span class="contacts-card__working-hours"
              >06:00 AM - 10:00 PM</span
            >
            <span class="contacts-card__working-days">Saturday - Sunday</span>
            <span class="contacts-card__working-hours"
              >08:00 AM - 16:00 PM</span
            >
          </div>
          <a href="#" class="contacts-card__phone">+61(0) 383 766 284</a>
          <a href="#" class="contacts-card__mail">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts-card">
          <span class="contacts-card__category"> CAFE </span>
          <div class="contacts-card__container">
            <h4 class="contacts-card__city">New York</h4>
            <address class="contacts-card__address">
              726 Sterling Pl, Brooklyn, NY 11222, USA
            </address>
          </div>
          <div class="contacts-card__working">
            <span class="contacts-card__working-days">Monday - Friday</span>
            <span class="contacts-card__working-hours"
              >06:00 AM - 10:00 PM</span
            >
            <span class="contacts-card__working-days">Saturday - Sunday</span>
            <span class="contacts-card__working-hours"
              >08:00 AM - 16:00 PM</span
            >
          </div>
          <a href="#" class="contacts-card__phone">+61(0) 383 766 284</a>
          <a href="#" class="contacts-card__mail">noreply@envato.com</a>
        </div>
      </li>
    </ul>
  </div>
  <button class="contacts__button" type="button">Our Locations</button>
  <button class="contacts__franchise-button" type="button">Franchise</button>
</section>
