<footer class="footer">
  <div class="container">
    <div class="footer-row">
      <div class="footer-column__slogan">
        <p class="footer-slogan__one">homemade ice cream made</p>
        <p class="footer-slogan__two">with passion</p>
      </div>
      <div class="footer-column__contacts">
        <ul class="socials">
          <li class="socials-icon">
            <a href="https://github.com/" class="socials-icon__link">
              <svg class="socials-icon__link-image" height="20" width="20">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="socials-icon">
            <a href="https://telegram.org/" class="socials-icon__link">
              <svg class="socials-icon__link-image" height="20" width="20">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials-icon">
            <a href="https://www.facebook.com/" class="socials-icon__link">
              <svg class="socials-icon__link-image" height="20" width="20">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer-contact">
          Feel free to contact
          <a class="footer-contact__tel" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
  </div>
      <div class="footer-copyright">
      <p class="footer-copyright__text">
        © 2022 - IceCream. <br>
        All Rights Reserved.
      </p>
    </div>
</footer>
