<section class="gallery">
  <h2 class="visually-hidden">Gallary</h2>
  <div class="gallery__overlay"></div>
  <div class="container">
    <div class="swiper mySwiper autoSwiper gallery__swiper">
      <div class="swiper-wrapper gallery__wrapper">
        <div class="swiper-slide gallery__slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/ice1-1200@1x.jpg 1x,
                ./images/gallery/ice1-1200@2x.jpg 2x
              "
              type="image/jpg"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/ice1-768@1x.jpg 1x,
                ./images/gallery/ice1-768@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/ice1-480@1x.jpg 1x,
                ./images/gallery/ice1-480@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__img"
              src="./images/gallery/ice1-1200@1x.jpg"
              alt="Ice cream"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide gallery__slide">
          <img
            class="gallery__img"
            src="./images/gallery/ice2-1200@1x.jpg"
            alt="ice cream"
            loading="lazy"
          />
        </div>
        <div class="swiper-slide gallery__slide">
          <img
            class="gallery__img"
            src="./images/gallery/ice3-1200@1x.jpg"
            alt="ice cream"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>
