<header class="page-header">
  <div class="container page-header__container">
    <a href="#" class="logo">
      <svg class="page-header__logo" height="32" width="32">
        <use href="./images/icons.svg#icon-page-logo"></use>
      </svg>
    </a>
    <nav class="page-header__navigation">
      <ul class="page-header__menu">
        <li class="page-header__item">
          <a class="page-header__link" href="#">Home</a>
        </li>
        <li class="page-header__item">
          <a class="page-header__link" href="#howitsmade">How it’s made?</a>
        </li>
        <li class="page-header__item">
          <a class="page-header__link" href="#products">Our products</a>
        </li>
        <li class="page-header__item">
          <a class="page-header__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="page-header__buttons">
      <button type="button" class="mobile-menu__open-btn" data-menu-open>
        <svg class="mobile-menu__burger-icon" height="32" width="32">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>

      <button
        type="button"
        class="page-header__btn js-open-modal"
        data-modal="5"
      >
        Buy now<svg class="page-header__btn-icon">
          <use href="./images/icons.svg#icon-Vector"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
