<header class="page-header">
  <div class="container page-header__container">
    <a href="" class="logo"></a>
    <nav class="page-header__navigation">
      <ul class="page-header__menu">
        <li class="page-header__item">Home</li>
        <li class="page-header__item">How it’s made?</li>
        <li class="page-header__item">Our products</li>
        <li class="page-header__item">Contact</li>
      </ul>
    </nav>
    <button class="mobile-menu__burger-btn"></button>

    <button type="button" class="page-header__btn">Buy now</button>
    <button></button>
  </div>
</header>
