<section class="hero">
  <div class="container hero-container">
    <div class="hero-left-block">
      <ul class="hero__logo-list">
        <li class="hero__logo-list_item">
          <h1 class="hero__title">ice cream made with passion</h1>
        </li>
        <li class="hero__logo-list_item hero-buttons">
          <a href="#products" class="hero_logo-button button-products--mobile">Products</a>
          <a href="#howitsmade" class="hero_logo-button_him">How it’s made?</a>
        </li>
      </ul>
      <ul class="hero__content-list">
        <li class="hero__content-list_item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/hero/lots-of-ice-cream-1200@1x.webp 1x,
                ./images/hero/lots-of-ice-cream-1200@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/hero/lots-of-ice-cream-1200@1x.png 1x,
                ./images/hero/lots-of-ice-cream-1200@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/hero/lots-of-ice-cream-768@1x.webp 1x,
                ./images/hero/lots-of-ice-cream-768@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/hero/lots-of-ice-cream-768@1x.png 1x,
                ./images/hero/lots-of-ice-cream-768@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/hero/lots-of-ice-cream-768@1x.png"
              alt="тарелка с мороженными шариками"
              class="hero__content-list_image"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="hero__content-list_item">
          <div class="hero__content-list_item-wrapper">
            <p class="hero__content-list_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <svg class="hero__content-list_text-icon" width="40" height="16">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </li>
      </ul>
    </div>
    <div class="hero-right-block">
      <div class="hero__ice-cream-cone">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/hero/img-hero-1200@1x.webp 1x,
              ./images/hero/img-hero-1200@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/hero/img-hero-1200@1x.png 1x,
              ./images/hero/img-hero-1200@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero/img-hero-768@1x.webp 1x,
              ./images/hero/img-hero-768@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero/img-hero-768@1x.png 1x,
              ./images/hero/img-hero-768@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/hero/img-hero-320@1x.webp 1x,
              ./images/hero/img-hero-320@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/hero/img-hero-320@1x.png 1x,
              ./images/hero/img-hero-320@2x.png 2x
            "
          />

          <img
            src="./images/hero/img-hero-320@1x.png"
            alt="ice cream cone"
            class="hero__ice-cream-cone-image"
            loading="lazy"
          />
        </picture>
      </div>

      <div class="hero-right-block__list-item">
        <ul class="venue__list">
          <li class="venue__list-item">
            <p class="venue__list-item_qty">16</p>
            <p class="venue__list-item_text">cafes</p>
          </li>
          <li class="venue__list-item">
            <p class="venue__list-item_qty">23</p>
            <p class="venue__list-item_text">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
