<section class="reviews">
  <h2 class="visually-hidden">Reviews</h2>
  <div class="container">
    <div class="swiper mySwiper review">
      <div class="swiper-wrapper review__wrapper">
        <div class="swiper-slide review__slide">
          <img
            class="review__img"
            srcset="
              ./images/review/emily@1x.jpg 1x,
              ./images/review/emily@2x.jpg 2x
            "
            src="./images/review/emily@1x.jpg"
            alt="Emily"
            loading="lazy"
          />
          <span class="review__text"
            >I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.</span
          >
          <span class="review__author">Emily, Los Angeles</span>
        </div>
        <div class="swiper-slide review__slide">
          <img
            class="review__img"
            srcset="
              ./images/review/bryan@1x.jpg 1x,
              ./images/review/bryan@2x.jpg 2x
            "
            src="./images/review/bryan@1x.jpg"
            alt="Bryan"
            loading="lazy"
          />
          <span class="review__text"
            >Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </span>
          <span class="review__author">Bryan, New-York</span>
        </div>
        <div class="swiper-slide review__slide">
          <img
            class="review__img"
            srcset="
              ./images/review/diana@1x.jpg 1x,
              ./images/review/diana@2x.jpg 2x
            "
            src="./images/review/diana@1x.jpg"
            alt="Diana"
            loading="lazy"
          />

          <span class="review__text"
            >Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </span>
          <span class="review__author">Diana, Chicago</span>
        </div>
      </div>
      <div class="swiper-pagination review__pagination"></div>
    </div>
  </div>
</section>
