// При добавлении класса

.button-products--mobile {
  border-radius: 8px;
  border: 2px solid var(--accent-color);
  min-width: 108px;
  height: 38px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  background-color: transparent;

  &:hover {
    border: 2px solid var(--button-hover-color);
  }

  @media screen and (min-width: 1200px) {
    border-radius: 10px;
    min-width: 134px;
    height: 42px;

    font-size: 14px;
    line-height: calc(18 / 14);

    &:focus {
      border: 2px solid var(--button-hover-color);
      color: var(--primary-text-color);
    }

    &:disabled {
      border: 2px solid var(--button-disabled-color);
      color: var(--black-color);
    }
  }
}

.button-read-more {
  min-width: 164px;
  height: 42px;
  background: var(--accent-color);
  border-radius: 10px;
  border: none;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);

  &:hover {
    background: var(--button-hover-color);
  }

  &:focus {
    background: var(--button-hover-color);
    color: var(--primary-text-color);
  }

  &:disabled {
    background: var(--button-disabled-color);
    color: var(--black-color);
  }
}

.button-our-locations {
  min-width: 196px;
  height: 42px;
  background: var(--accent-color);
  border-radius: 10px;
  border: none;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: var(--secondary-text-color);

  &:hover {
    background: var(--button-hover-color);
  }

  &:focus {
    background: var(--button-hover-color);
    color: var(--primary-text-color);
  }

  &:disabled {
    background: var(--button-disabled-color);
    color: var(--black-color);
  }
}

.button-buy-now {
  min-width: 152px;
  height: 42px;
  background: var(--accent-color);
  border-radius: 10px;
  border: none;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);

  &:hover {
    background: var(--button-hover-color);
  }

  &:focus {
    background: var(--button-hover-color);
    color: var(--white-color);
  }

  &:disabled {
    background: var(--button-disabled-color);
    color: var(--black-color);
  }
}
