.modal-product {
  position: absolute;
  width: 280px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .modal-product__header {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #131313;
    margin-top: 28px;
    margin-bottom: 20px;
  }
}
.modal-ingredients {
  position: absolute;
  width: 280px;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 60%;
  left: 20%;
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 28px;
  padding-left: 20px;
  transform: translate(-50%, -50%);

  .modal-ingredients__header {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #131313;
    margin-bottom: 20px;
  }
}
.contact-form__list {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.form-input__item {
  font-family: 'Montserrat';
  font-size: 12px;
  color: #131313;
  width: 240px;
  height: 42px;
  cursor: pointer;
  padding: 8px 12px;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  @media screen and (min-width: 768px) {
    width: 368px;
    height: 42px;
  }
}
.form-input__item-comment {
  font-family: 'Montserrat';
  font-size: 12px;
  color: #131313;
  width: 240px;
  height: 84px;
  cursor: pointer;
  padding: 8px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;
    margin-bottom: 32px;
  }
}
.modal__batton {
  width: 114px;
  height: 42px;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
  color: var(--best-color2);
  background: #f8d24e;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  margin-bottom: 29px;
}
.modal-btn__close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 11px;
  height: 11px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: #131313;
  margin-bottom: 40px;
}
.ingredients {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  display: flex;
  flex-direction: column;
}
.ingredients-name {
  display: flex;
  flex-direction: column;
  gap: 11;
  width: 240px;
}
.ingredients-name__list {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 176%;
  display: flex;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  flex-direction: column;
}
.image-overlapping {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-overlapping__ice {
  z-index: 999;
  position: absolute;
}
.image-overlapping__bg {
  width: 132px;
  height: 132px;
  background: rgba(156, 190, 143, 0.7);
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  margin-top: 7px;
}
.additives-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.additives__item {
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  width: 53px;
  height: 72px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.additives__item__number {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #131313;
  width: 43px;
  height: 43px;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
}
.additives__item__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 568px;
    padding: 32px 60px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    background-color: var(--primary-text-color);
    transition: 0.3s all;
  }

  .modal__cross {
    width: 24px;
    height: 24px;
  }

  .additives-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 25px;
  }
  .ingredients {
    margin-top: 24px;
  }
  .ingredients-name {
    display: flex;
    flex-direction: column;
    gap: 11;
    width: 488px;
  }
  .ingredients-name__list {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    display: flex;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    flex-direction: column;
  }
  .ingredients-name__list {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    display: flex;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-form {
    margin-top: 120px;
  }
}
@media screen and (max-width: 767px) {
  .contact-form {
    margin-top: 112px;
  }
}
