/* Стили для подложки */

.overlay {
   
    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(132, 161, 120, .5);
    z-index: 950;
    transition: .3s all;
 }
 
 
 /* Стили для модальных окон */
 
 .modal {
    
    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;
    
    
    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 280px;
    
    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Должен быть выше чем у подложки*/
    
    /*  Побочные стили   */
    // box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    text-align: center;
    padding: 28px;
    border: 2px solid var(--accent-color);
border-radius: 10px;
    background-color: var(--primary-text-color);
    transition: 0.3s all;
 }

 .modal--our-location {
    height: 365px;
  }

 .modal__title {
    font-family: 'Seymour One';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: var(--secondary-text-color);
 }
 
 .modal__map {
    margin-top: 20px;
    margin-bottom: 20px;
    width:224px;
    height: 199px;
 }
 
 .modal__text {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
color: var(--secondary-text-color);
text-align: left;
 }
 /* Стили для активных классов подложки и окна */
 
 .modal.active,
 .overlay.active{
    opacity: 1;
    visibility: visible;
 }
 
 
 /* Стили для кнопки закрытия */
 
 .modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: var(--secondary-text-color);
    cursor: pointer;
    &:hover, &focus {
        fill: var(--background-color);
    }
 }

 /* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */
 
//  .js-open-modal a {
//     padding: 20px;
//     display: inline-block;
//     text-decoration: none;
//     background-color: #414b52;
//     margin: 10px;
//     color: #fff;
//     border-radius: 3px;
//  }
//  .modal a {
//     padding: 20px;
//     display: inline-block;
//     text-decoration: none;
//     background-color: #414b52;
//     margin: 10px;
//     color: #fff;
//     border-radius: 3px;
//  }


 @media screen and (min-width:768px) {

 .modal {
    max-width: 568px;
    padding: 32px 60px;
    border: 2px solid var(--accent-color);
border-radius: 10px;
    background-color: var(--primary-text-color);
    transition: 0.3s all;
 }

 .modal--our-location {
    height: 458px;
  }

 .modal__title {
font-size: 20px;
line-height: 28px;
 }
 
 .modal__text {
    font-size: 16px;
    line-height: 22px;
 }
 .modal__map {
    margin-top: 32px;
    margin-bottom: 32px;
    width:444px;
    height: 260px;
 }
}