.gallery {
}
.gallery__overlay {
  height: 300px;

  background-size: cover;
  background-repeat: no-repeat;
}

.gallery {
}

.gallery__swiper {
  max-width: 280px;
  max-height: 130px;
  margin-bottom: 80px;
}

.gallery__wrapper {
}

.gallery__slide {
}
.gallery__img {
  width: 230px;
  height: 130px;
}
