.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.gallery {
  position: relative;
}
.gallery__overlay {
  position: absolute;
  background-color: var(--background-color);
  height: 32px;
  width: 100%;
  @media screen and (min-width: 768px) {
    height: 144px;
  }
  @media screen and (min-width: 1200px) {
    height: 98px;
  }
}

.gallery {
}

.gallery__swiper {
  max-width: 280px;
  max-height: 130px;
  margin-bottom: 80px;
  border-radius: 10px;
  @media screen and (min-width: 768px) {
    max-width: 704px;
    max-height: 327px;
    margin-bottom: 100px;
    border-radius: 18px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1013px;
    max-height: 422px;
    margin-bottom: 140px;
    border-radius: 24px;
  }
}

.gallery__wrapper {
}
.gallery__slide {
}

.gallery__img {
  width: 100%;

  object-fit: cover;
  @media screen and (max-width: 767px) {
    height: 130px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 327px;
  }
}
