.page-header {
  padding-top: 12px;
  background-color: var(--background-color);
}
@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 8px;
  }
}
.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header__logo {
  width: 40px;
  height: 37px;
  fill: var(--accent-color);
  &:hover {
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    width: 48px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    width: 60px;
    height: 65px;
  }
}
.page-header__menu {
  display: none;
}
@media screen and (min-width: 1200px) {
  .page-header__menu {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .page-header__buttons {
    display: flex;
    gap: 32px;
  }
}
.mobile-menu__open-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  line-height: 0;
}
.mobile-menu__burger-icon {
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .mobile-menu__open-btn {
    display: none;
  }
}
.page-header__btn {
  background-color: transparent;
  padding: 0;
  border: none;
  line-height: 0;
  width: 152px;
  height: 42px;
  left: 0px;
  top: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 36px;
  background: var(--accent-color);
  border-radius: 10px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--black-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: var(--button-hover-color);
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      both;
  }
  &:focus {
    background: var(--button-hover-color);
    color: var(--primary-text-color);
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      both;
  }
  &:disabled {
    background: var(--button-disabled-color);
    color: var(--black-color);
  }
}
.page-header__btn:focus .page-header__btn-icon {
  fill: var(--primary-text-color);
}

.page-header__btn {
  display: none;
}
.page-header__btn-icon {
  width: 10px;
  height: 12px;
  fill: var(--black-color);
  margin-left: 4px;
}
@media screen and (min-width: 768px) {
  .page-header__btn {
    display: flex;
  }
}
.page-header__link {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.page-header__item:not(:last-child) {
  margin-right: 28px;
}
