.products__item {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-text-color);
}
@media screen and (min-width: 320px) {
    .products__item {
        background-image: url(../images/body/bg-icecreem-480@1x.jpg);
        max-width: 767px;
    }
}
@media screen and (min-width: 768px) {
    .products__item {
        background-image: url(../images/body/bg-icecreem-768@1x.jpg);
        min-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .products__item {
        background-image: url(../images/body/bg-icecreem-1200@1x.jpg);
        min-width: 1200px;
    }
}
.products__label {
    font-weight: 800;
    line-height: 1.22;
    margin-top: 60px;
    margin-bottom: 12px;
}
@media screen and (min-width: 320px) {
        .products__label {
        font-size: 18px;
    }
}
@media screen and (min-width: 768px) {
        .products__label {
        font-size: 22px;
    }
}
@media screen and (min-width: 1200px) {
        .products__label {
        font-size: 30px;
        margin-top: 77px;
        letter-spacing: 0.04em;
    }
}

.products__heading {
    font-family: 'Seymour One';
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.23;
}

@media screen and (min-width: 320px) {
        .products__heading {
        font-size: 30px;
        margin-bottom: 40px;
    }
}
@media screen and (min-width: 768px) {
        .products__heading {
        font-size: 34px;
        margin-bottom: 80px;
    }
}
@media screen and (min-width: 1200px) {
        .products__heading {
        font-size: 36px;
        margin-bottom: 101px;
    }
}

.products__list {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
        .products__list {
        flex-direction: column;
    }
}
@media screen and (min-width: 768px) {
    .products__list {
        min-width: 704px;
        gap: 16px;
    }
}
@media screen and (min-width: 1200px) {
    .products__list {
        min-width: 1168px;
        gap: 29px;
    }
}

.products__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.products__card--first {
    background-color: var(--products-color-first);
}
.products__card--second {
    background-color: var(--products-color-second);
}
.products__card--third {
    background-color: var(--products-color-third);
}

.product__title {
        font-weight: 700;
        letter-spacing: 0.04em;
        line-height: 1.22;
        margin-bottom: 40px;
    }
    
    @media screen and (min-width: 320px) {
            .products__title {
            font-size: 20px;
            margin-top: 20px;
        }
    }
    @media screen and (min-width: 768px) {
            .products__title {
            font-size: 22px;
            margin-top: 16px;
        }
    }
    @media screen and (min-width: 1200px) {
            .products__title {
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 66px;
        }    
    }
.products__description {
    text-transform: none;
}   