.reviews {
  font-family: 'Montserrat';
}
.review {
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 100px;
  }
}

.review__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review__img {
  margin-bottom: 32px;

  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.review__text {
  margin-bottom: 32px;
  padding: 35px 40px;
  min-height: 255px;

  display: flex;
  align-items: center;

  background-color: var(--background-color);
  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 255%;
  text-align: center;

  border-radius: 10px;

  @media screen and (min-width: 768px) {
    max-width: 705px;
    padding: 28px 80px;
    min-height: 139px;

    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    border-radius: 24px;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    max-width: 968px;
    padding: 42px 73px;

    font-size: 16px;
  }
}
.review__author {
  margin-bottom: 12px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;

  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 16px;
  }
}

.review__pagination {
  position: unset;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  background-color: var(--background-color);
}
